.adminTemplate {
  min-height: 100vh;
  .sider {
  }

  .site-layout {
    .header {
      .logo {
        text-align: center;
        
        img{
          display: inline-block;
        }
      }
    }
    .content {
    }
  }
}
