.Films {
  .ant-input-group-wrapper {
  }
  .imageMovie {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .ant-table {
    /* width */
    height: 70vh;
    overflow-y: scroll;
    th {
      text-align: center;
    }
    td {
      text-align: center;
    }
  }
}
