.showTime {
  .title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 4%;
    padding-left: 10px;
  }

  .addShowTime {
    background-color: #319da0;
    color: #fff5e1;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    &:hover {
      color: #319da0;
      background-color: #fff5e1;
    }
  }
  .error {
    margin-bottom: -1rem;
    margin-top: 5px;
  }
}
